<mat-toolbar color="secondary">
    <span>Map View</span>
    <span class="spacer"></span>
    <!-- <button mat-button><mat-icon>more_horiz</mat-icon>  </button> -->
    <button mat-button (click)="setMethod('marker')" [class.active]="method === 'marker'" [disabled]="selectedLayer === -1">Marker</button>
    <button mat-button (click)="setMethod('polyline')" [class.active]="method === 'polyline'" [disabled]="selectedLayer === -1">Polyline</button>
    <button mat-button (click)="setMethod('polygon')" [class.active]="method === 'polygon'" [disabled]="selectedLayer === -1">Polygon</button>
    <button mat-button (click)="clear()" [disabled]="!layers.length">Clear</button>
</mat-toolbar>

<div class="layers">



    <mat-toolbar color="primary">
        <span>Layers</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="layersIsvisible = !layersIsvisible">
            <mat-icon *ngIf="layersIsvisible">remove</mat-icon>
            <mat-icon *ngIf="!layersIsvisible">add</mat-icon>
        </button>
    </mat-toolbar>

    <div *ngIf="layersIsvisible">

        <mat-list>
            <mat-list-item *ngFor="let layer of layers; let i = index" (click)="selectLayer(i)" [class.active]="i === selectedLayer"  matTooltip="Click to select layer" matTooltipPosition="left">

                <h3 matLine>{{layer.name}}</h3>

                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item (click)="toggleLayerVisiblity(layer)">Toggle layer visibility</button>
                    <button mat-menu-item (click)="openDialog(layer)">Edit layer</button>
                    <button mat-menu-item (click)="clearLayer(i)">Clear layer</button>
                    <button mat-menu-item (click)="removeLayer(layer, i)">Delete layer</button>
                </mat-menu>


                <!-- <button mat-icon-button (click)="toggleLayerVisiblity(layer)" matTooltip="Toggle layer visibility" matTooltipPosition="above">
                    <mat-icon *ngIf="layer.isVisible">visibility</mat-icon>
                    <mat-icon *ngIf="!layer.isVisible">visibility_off</mat-icon>
                </button>

                <button mat-icon-button (click)="openDialog(layer)" matTooltip="Edit layer" matTooltipPosition="above">
                    <mat-icon>mode_edit</mat-icon>
                </button> -->

                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>

            </mat-list-item>
        </mat-list>

        <form (keydown)="addLayer($event)" class="p20">

            <mat-form-field class="example-full-width">
                <input matInput type="text" [(ngModel)]="newLayerTitle" name="name" placeholder="Layer Name" />
                <mat-hint align="end">Hit enter to add</mat-hint>
            </mat-form-field>

        </form>

        <!-- <div>
        <button mat-button (click)="addLayer()" color="primary">Add</button>
    </div> -->


    </div>

</div>

<div class="map" id="map" [class.editing]="isEditing" [class.active]="selectedLayer !== -1"></div>

<div class="alert" *ngIf="isEditing">Editing mode: Enter to finish, Esc to cancel</div>